/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/files/robot.qa
/files/robot.prod
/files/robot.dr
/files/bkpddr.yaml
/files/bkpd.yaml
/files/bkpidr.yaml
/files/bkpi.yaml
/files/qa-bkpd.yaml
/files/robot.dev
